 body {
     height: 100vh;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;
 }
 main {
     width: 90px;
     padding: 1px;
     display: flex;
     justify-content: flex-start;
     align-items: center;

     border: 1px rgb(209, 206, 206) solid;
     border-radius: 20px;
     transition: 5000ms all ease;
 }
 .day {
     width: 40px;
     height: 40px;
     border: none;
     outline: none;
     border-radius: 50%;

     /*background-color: rgb(7, 7, 90);*/
     transition: 5000ms all ease;
 }
 .night {
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50%;

    background-color: rgb(7, 7, 90);
 }
 .day:hover {
     cursor: pointer;
 }