 .dayBody {
     height: 100vh;
     margin: 0;
     display: flex;
     justify-content: center;
     align-items: center;

     background-color: rgb(24, 24, 148);
     transition: 1000ms all ease;
 }
 .nightBody {
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(0, 0, 0);
}
 .dayBG {
     width: 90px;
     display: flex;
     align-items: center;
     padding: 1px ;

     border: 1px rgb(209, 206, 206) solid;
     border-radius: 20px;
 }
 .nightBG {
    width: 90px;
    display: flex;
    align-items: center;
    padding: 1px;

    border: 1px rgb(209, 206, 206) solid;
    border-radius: 20px;
}
 .day {
     position: relative;
     left: 0px;
     width: 40px;
     height: 40px;
     border: none;
     outline: none;
     border-radius: 50%;

     /*background-color: rgb(7, 7, 90);*/
     background-color: rgba(255, 255, 0, 0.76);
     transition: left 500ms ease-in-out;
 }
 .night {
    position: relative;
    left: 50px;
    width: 40px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 50%;

    background-color: white;
 }
 .day:hover {
     cursor: pointer;
 }